
report {
    enabled = true    
    file = "output/run_report_step_1_${new Date().format('yyyy-MM-dd_HH-mm')}.html"   
}  

params {
// cluster parameters
    singularity = 'sarlacc.img'
    path = 'your/dir'
// user parameters
    params.experiment_name = 'CELLO_seq' 
    params.queue = 'test/short/long'
    params.cpus = 1
    params.time ='#day ##hours ##minutes ##seconds'
    params.memory = '## GB'
    params.minimap_reference_index = 'genome.fa.mmi'
}

executor.queueSize = params.queue_size

process {
    // define slurm parameters
    executor = 'slurm' 
    // change to long
    queue = { task.attempt == 3 ? 'long' : params.queue }
    cpus = { task.attempt == 3 ? 10 : params.cpus }
    time = { task.attempt == 3 ? '6day 23hours 59minutes 30seconds' : params.time }
    memory = { task.attempt == 3 ? '500 GB' : params.memory }

}

